---
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout title="Welcome to the blog!">
  <header>
    <h1>Welcome to the blog!</h1>
    <p class="secondary">Published on November 4th, 2024</p>
  </header>
  <p>We're excited to announce that we finally decided to implement blog page!</p>
  <p>Now we can announce some of the important announcements regarding our product and services here.</p>
  <p>That's gonna be end of this post, yes it's short, I just needed to announce blog so yeah...</p>
</BlogLayout>