---
import BlogLayout from "../../layouts/BlogLayout.astro"
---

<BlogLayout title="Migrating to a new API URL">
  <header>
    <h1>Migrating to new API URL</h1>
    <p class="secondary">Published on December 21th, 2024</p>
  </header>
  <p>Dear Users,</p>
  <p>
    We would like to inform you that our API URL has been updated to <b
      >smc-api.lodine.xyz</b
    >. This change will not affect you if your browser extension is updated to
    version 1.4.1 or later.
  </p>
  <p>
    This update is part of our plan to deprecate the <b>ldne.xyz</b> domain in 2025.
    Consolidating to a single domain allows us to streamline our operations and reduce
    costs associated with maintaining multiple domains.
  </p>
  <p>
    If you are a developer using our API, please ensure that your integration
    has been updated to reflect the new URL.
  </p>
  <p>Thank you for your understanding and continued support.</p>
</BlogLayout>
