---
import BlogLayout from "../../layouts/BlogLayout.astro"
---

<BlogLayout title="November 2024 Statistics Report">
  <header>
    <h1>November 2024 Statistics Report</h1>
    <p class="secondary">
      Published on December 21th, 2024 / Collected data is from 2024-11-01 to
      2024-11-30
    </p>
  </header>
  <p>
    Greetings! November month has ended, so it's time to post our statistics
    report for the month.
  </p>
  <p>
    We've got <b>11 Weekly Downloads</b>, and <b>382 Average Daily Users</b>
  </p>
  <div
    style="display: flex; justify-content: space-between; margin-bottom: 1em;"
  >
    <div>
      <p>Top 3 Applications are:</p>
      <ul>
        <li>Android 132.0 - 268 (68%)</li>
        <li>Android 131.0 - 36 (9%)</li>
        <li>Firefox 132.0 - 27 (7%)</li>
      </ul>
    </div>
    <div>
      <p>Top 3 Languages are:</p>
      <ul>
        <li>English (US) (en-US) - 92 (42%)</li>
        <li>Español (de México) (es-MX) - 31 (14%)</li>
        <li>English (British) (en-GB) - 26 (12%)</li>
      </ul>
    </div>
    <div>
      <p>Top 3 Platforms are:</p>
      <ul>
        <li>Android - 360 (91%)</li>
        <li>Windows - 28 (7%)</li>
        <li>Linux - 4.9 (1%)</li>
      </ul>
    </div>
  </div>
  <p>
    Statistics data source is Firefox Add-on Developer Hub Statistics Dashboard.
    Take a note that this statistics report does not include data from Chrome
    Web Store.
  </p>
  <p>We hope you enjoyed this statistics report, thanks for reading!</p>
</BlogLayout>
