---
import BlogLayout from "../../layouts/BlogLayout.astro"
---

<BlogLayout title="October 2024 Statistics Report">
  <header>
    <h1>October 2024 Statistics Report</h1>
    <p class="secondary">
      Published on November 5th, 2024 / Collected data is from 2024-10-01 to
      2024-10-31
    </p>
  </header>
  <p>
    Hello everyone! October month has ended, so it's time to post our statistics
    report for the month.
  </p>
  <p>We've got <b>9 Weekly Downloads</b>, and <b>380 Average Daily Users</b></p>
  <div
    style="display: flex; justify-content: space-between; margin-bottom: 1em;"
  >
    <div>
      <p>Top 3 Applications are:</p>
      <ul>
        <li>Android 131.0 - 239 (68%)</li>
        <li>Android 130.0 - 53 (15%)</li>
        <li>Firefox 131.0 - 17 (5%)</li>
      </ul>
    </div>
    <div>
      <p>Top 3 Languages are:</p>
      <ul>
        <li>English (US) (en-US) - 82 (43%)</li>
        <li>Español (de México) (es-MX) - 24 (12%)</li>
        <li>English (British) (en-GB) - 21 (11%)</li>
      </ul>
    </div>
    <div>
      <p>Top 3 Platforms are:</p>
      <ul>
        <li>Android - 329 (94%)</li>
        <li>Windows - 18 (5%)</li>
        <li>Linux - 4 (1%)</li>
      </ul>
    </div>
  </div>
  <p>
    Statistics data source is Firefox Add-on Developer Hub Statistics Dashboard.
    Take a note that this statistics report does not include data from Chrome
    Web Store.
  </p>
  <p>We hope you enjoyed this statistics report, thanks for reading!</p>
</BlogLayout>
