---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Blog">
  <h1>Blog</h1>
  <p>Latest news from StopMalwareContent's team!</p>
  <ul>
    <li><a href="blog/04-11-24-blog">04.11.24 - Welcome to the blog!</a></li>
  </ul>
</Layout>
