---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contribute">
  <h1>Contribute</h1>
  <p>
    Discover how you can help StopMalwareContent, whether by contributing to
    development, reporting issues, or simply supporting our mission.
  </p>
  <div class="sections">
    <section>
      <span class="title">Donate us</span>
      <p class="secondary">
        Your donations help cover essential expenses like server costs, domain
        renewals, and more. Every contribution makes a big difference in keeping
        our services running smoothly and accessible to everyone!
      </p>
      <div class="actions">
        <a href="https://ko-fi.com/nitrrine" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-dollar-sign"
            ><line x1="12" x2="12" y1="2" y2="22"></line><path
              d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg
          >Donate on Ko-fi</a
        >
      </div>
    </section>
    <section>
      <span class="title">Report websites</span>
      <p class="secondary">
        Reporting harmful or potentially unwanted websites is another valuable
        way to contribute. Your vigilance helps make the internet a safer place
        for everyone!
      </p>
      <div class="actions">
        <a href="https://smc-dashboard.pages.dev/report" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-flag"
            ><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"
            ></path><line x1="4" x2="4" y1="22" y2="15"></line></svg
          >Report a website</a
        >
      </div>
    </section>
    <section>
      <span class="title">Contribute code</span>
      <p class="secondary">
        All our projects are open source, and we welcome your contributions!
        Submit a pull request to help us improve and grow the project together.
      </p>
      <div class="actions">
        <a href="https://github.com/StopMalwareContent" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-github"
            ><path
              d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
            ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
          >Contribute on Github</a
        >
      </div>
    </section>
    <section>
      <span class="title">Report bugs</span>
      <p class="secondary">
        Contributing isn’t just about making changes to our codebase - it’s also
        about reporting issues and bugs you encounter. Your feedback is
        essential in helping us improve!
      </p>
      <div class="actions">
        <a
          href="https://github.com/StopMalwareContent/Extension/issues"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-bug"
            ><path d="m8 2 1.88 1.88"></path><path d="M14.12 3.88 16 2"
            ></path><path d="M9 7.13v-1a3.003 3.003 0 1 1 6 0v1"></path><path
              d="M12 20c-3.3 0-6-2.7-6-6v-3a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v3c0 3.3-2.7 6-6 6"
            ></path><path d="M12 20v-9"></path><path
              d="M6.53 9C4.6 8.8 3 7.1 3 5"></path><path d="M6 13H2"
            ></path><path d="M3 21c0-2.1 1.7-3.9 3.8-4"></path><path
              d="M20.97 5c0 2.1-1.6 3.8-3.5 4"></path><path d="M22 13h-4"
            ></path><path d="M17.2 17c2.1.1 3.8 1.9 3.8 4"></path></svg
          >Create an issue</a
        >
      </div>
    </section>
  </div>
</Layout>

<style lang="scss">
  .sections {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 1em;

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      border: 1px rgba(255, 255, 255, 0.1) solid;
      padding: 1em;
      border-radius: 5px;

      .title {
        font-size: 1.5em;
      }

      .actions {
        display: flex;
        gap: 1em;

        a {
          display: flex;
          align-items: center;
          gap: 0.3em;
          color: var(--primary);
        }
      }
    }
  }
</style>
