---
import Image from "astro/components/Image.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Extension">
  <h1>Get extension</h1>
  <p>Get StopMalwareContent browser extension for your browser</p>
  <a
    href="https://go.lodine.xyz/smc-firefox"
    target="_blank"
    rel="noopener noreferer">
    <Image
      src="/assets/firefox-badge.webp"
      alt="Get the Add-on"
      width="172"
      height="60"
    />
  </a><a
    href="https://go.lodine.xyz/smc-chrome"
    target="_blank"
    rel="noopener noreferer">
    <Image
      src="/assets/chrome-badge.webp"
      alt="Get the Addon"
      width="496"
      height="150"
    />
  </a>
</Layout>

<style>
  a {
    text-decoration: none;
  }
  img {
    width: 172px;
    height: 60px;
    object-fit: contain;
    background: #fff;
    border-radius: 5px;
  }
</style>
