---
import Layout from "../layouts/Layout.astro"
import ExternalLink from "../components/ExternalLink.astro"
import GetExtensionBadges from "../components/GetExtensionBadges.astro"
---

<Layout title="Extension">
  <h1>Get extension</h1>
  <p>Get the StopMalwareContent extension for your browser.</p>
  <GetExtensionBadges />
  <p class="secondary chromium-notice note-info">
    The Chrome extension also works with other Chromium-based browsers like
    Microsoft Edge, Brave, Opera, and more.
  </p>
</Layout>

<style>
  .chromium-notice {
    margin-top: 0.3em;
  }
</style>
