---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
  <h1>About</h1>
  <p>
    We built a browser extension designed to combat the issue of harmful,
    potentially unwanted websites, but mostly we focus on Illegally distributing
    websites.
  </p>
  <p>
    What is illegal distribution? It's when some people redistributed
    a content onto a third party site without any acknowledgement or permission
    of their developers. It's bad because original creators don't earn money,
    but the bigger problem comes when some websites add malicious behavior to
    redistributed content. This is not only harmful for end users, it's also
    possible that people will start blame legitimate extension!
  </p>
  <p>
    I think you got the idea, that's why we've created this extension. You might
    notice that this extension does something like Stop Mod Reposts - and
    yeah, I really got inspired from this extension to make this one. The
    saddest thing is that Stop Mod Reposts got discontinued, that's the reason
    why I've created this extension. That's not a fork of Stop Mod Reposts,
    however source code of Stop Malware Content is open source and licensed
    under CC-BY-SA-4.0 license.
  </p>
</Layout>
