---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
  <h1>About</h1>
  <p>
    We built a browser extension designed to combat the issue of harmful,
    potentially unwanted websites, but mostly we focus on "illegally distributing"
    websites.
  </p>
  <p>
    What is illegal distribution? It's when some people redistributed
    content onto a third party site without any acknowledgement or permission
    of their developers. It's bad because original creators don't earn money,
    but the bigger problem comes when some websites add malicious behavior to
    redistributed content. This is not only harmful for end users, it's also
    possible that people will start to blame the legitimate, original creators!
  </p>
  <p>
    I think you got the idea, that's why we've created this extension. You might
    notice that this extension does something like StopModReposts - and
    yeah, I really got inspired from this extension to make this one. The
    saddest thing is that StopModReposts is now mostly inactive, that's the reason
    why I've created this extension. It's not a fork of StopModReposts,
    however source code of StopMalwareContent is open source and licensed
    under CC-BY-SA-4.0 license.
  </p>
</Layout>
