---
import Layout from "../layouts/Layout.astro"

type IllegalSite = {
  domain: String
  reason: String
  path: String
  notes: String
}

const response = await fetch("https://smc.ldne.xyz/sites")
const data: IllegalSite[] = await response.json()
---

<Layout title="Blacklisted Sites">
  <h1>List of blacklisted sites</h1>
  <p>There are {data.length} sites listed here. Press CTRL+F to search for a specific site.</p>
  <table>
    <tr>
      <th>Domain</th>
      <th>Reason</th>
      <th>Notes</th>
    </tr>
    {
      data.map((site: IllegalSite) => (
        <tr>
          {/* Do not delete this strange comments, it's made to remove spaces */}
          <td><!--
          -->{site.domain}<!--
          -->{site.path.length === 1 ? "" : site.path}
          </td>
          <td>{site.reason}</td>
          <td>{site.notes}</td>
        </tr>
      ))
    }
  </table>
</Layout>

<style>
  table {
    margin-top: 1em;
  }

  th {
    text-align: start;
    padding: 0.5em;
  }

  tr:not(:first-child):hover {
    background: rgba(255, 255, 255, 0.3);
  }

  td {
    padding: 0.5em;
    border-radius: 5px;
  }
</style>
