---
import "../styles/fonts.scss"
import { Image } from "astro:assets"

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {title ? title + " - StopMalwareContent Blog" : "StopMalwareContent Blog"}
    </title>
    <meta name="theme-color" content="#e43232" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <img src="/assets/background.webp" alt="" class="bg" />
    <nav>
      <a href="/" class="brand">
        <Image src="/assets/logo.webp" alt="" width="40" height="40" />
        <span>Blog</span>
      </a>
      <div class="links">
        <a href="/">About</a>
        <a href="/blog">Blog</a>
        <a href="/sites">Sites</a>
        <a href="/contribute">Contribute</a>
        <a href="/extension">Extension</a>
      </div>
      <div class="mobileNav hidden">
        <a href="/">About</a>
        <a href="/blog">Blog</a>
        <a href="/sites">Sites</a>
        <a href="/contribute">Contribute</a>
        <a href="/extension">Extension</a>
      </div>
      <button class="toggleMobileNav" id="btnToggleMobileNav"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-menu"
          ><line x1="4" x2="20" y1="12" y2="12"></line><line
            x1="4"
            x2="20"
            y1="6"
            y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg
        ></button
      >
    </nav>
    <main>
      <slot />
    </main>
    <footer>
      <script
        type="text/javascript"
        src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script><script
        type="text/javascript"
      >
        kofiwidget2.init("Support me on Ko-fi", "#e43232", "K3K8GSDEO")
        kofiwidget2.draw()
      </script>
      <div class="stats">
        <img
          alt="Dynamic JSON Badge"
          src="https://img.shields.io/badge/dynamic/json?url=https%3A%2F%2Fsmc-api.lodine.xyz%2Fstats&query=sites&label=sites"
        />

        <img
          alt="Mozilla Add-on Users"
          src="https://img.shields.io/amo/users/stop-malware-content?logo=firefox-browser&color=%23FF7139&label=firefox users"
        />
        <img
          alt="Chrome Web Store Users"
          src="https://img.shields.io/chrome-web-store/users/fiaoknmfemniellplflmbpbnagnpphkg?logo=google-chrome&color=%234285F4&label=chrome users"
        />
      </div>
      <p>
        StopMalwareContent is open source and licensed under GNU GPL v3.0
        license.
      </p>
      <p>
        © Lodine Software / <a href="/legal/privacy">Privacy Policy</a>
      </p>
    </footer>
    <script>
      document
        .getElementById("btnToggleMobileNav")
        ?.addEventListener("click", () => {
          document.querySelector(".mobileNav")?.classList.toggle("hidden")
        })
    </script>
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --primary: #e43232;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .bg {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
  }

  body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    font-family: "Noto Sans", sans-serif;
    background: #0f0f0f;
    color: #fff;
    text-shadow: 0 0 5px #000;
  }

  header {
    font-size: calc(100% + 0.1em);

    .secondary {
      font-style: italic;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.3em;
  }
  p {
    margin-bottom: 0.5em;
    line-height: 1.5em;
  }
  p.secondary {
    color: #c2c2c2;
  }

  svg {
    width: 1em;
    height: 1em;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 60px;
    padding: 1em;
    border-bottom: 1px solid #535353;
    margin-bottom: 1em;
  }

  nav .brand {
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-size: 1.5em;
    color: var(--primary);
    text-decoration: none;
    font-weight: 700;
  }

  nav .links {
    display: flex;
    gap: 0.5em;
  }

  nav .links a {
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: 0.5em 1em;
    transition: 100ms transform;

    &:active {
      transform: scale(0.8);
    }
  }

  nav .links a:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  @media (max-width: 700px) {
    nav .links {
      display: none;
    }

    .toggleMobileNav {
      display: unset;
    }
  }

  @media (min-width: 700px) {
    .toggleMobileNav {
      display: none;
    }
  }

  .mobileNav {
    position: absolute;
    left: 0;
    top: 60px;
    padding: 1em;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
  }

  .mobileNav a {
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding: 1em 0.5em;
    border-radius: 5px;
  }

  .mobileNav a:hover {
    background: var(--primary);
  }

  .hidden {
    display: none;
  }

  main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    flex: 1 1 auto;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  input {
    background: #0f0f0f;
    color: #fff;
    border: 1px solid #535353;
    border-radius: 5px;
    padding: 0.3em 0.5em;
    font-size: 1em;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    background: var(--primary);
    color: #fff;
    border: none;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }

  li {
    margin-left: 1em;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    border-top: 1px solid #535353;
    margin-top: 1em;
    color: #ccc;
    text-align: center;

    .stats {
      pointer-events: none;
      user-select: none;
    }

    p {
      margin: 0;
    }
  }

  .note-info {
    border-left: 5px #5885ff solid;
    padding: 0.5em;
    border-radius: 5px;
    background: #5885ff10;
  }

  .note-warn {
    border-left: 5px #ff6600 solid;
    padding: 0.5em;
    border-radius: 5px;
    background: rgba(255, 188, 88, 0.178);
  }

  .note-danger {
    border-left: 5px #ff5858 solid;
    padding: 0.5em;
    border-radius: 5px;
    background: #ff585810;
  }
</style>
